
@{
    ViewBag.Title = "Indicadores Ecónomicos";
}

<!-- Header -->
<header class="page-header">
    <div class="header-content text-center">
        <h2 class="header-heading">Indicadores Ecónomicos</h2>
        <h3 class="header-subheading">Lorem ipsum dolor sit amet consectetur.</h3>
    </div>
</header>

<!-- indicators Grid -->
<section class="bg-light" id="indicators">
    <div class="container">
        <div class="row mb-5">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Lorem ipsum dolor sit</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 indicators-item">
                <a class="indicators-link">
                    <div class="indicators-hover">
                        <div class="indicators-hover-content">
                            <i class="fas fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="~/Content/img/bg-1.jpg" alt="">
                </a>
                <div class="indicators-caption">
                    <h4>Tasa de Política Monetaria</h4>
                    <p class="text-muted">Lorem Ipsum</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 indicators-item">
                <a class="indicators-link">
                    <div class="indicators-hover">
                        <div class="indicators-hover-content">
                            <i class="fas fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="~/Content/img/bg-1.jpg" alt="">
                </a>
                <div class="indicators-caption">
                    <h4>Tasa Básica Pasiva</h4>
                    <p class="text-muted">Lorem Ipsum</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 indicators-item">
                <a class="indicators-link">
                    <div class="indicators-hover">
                        <div class="indicators-hover-content">
                            <i class="fas fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="~/Content/img/bg-1.jpg" alt="">
                </a>
                <div class="indicators-caption">
                    <h4>Tipo de Cambio</h4>
                    <p class="text-muted">Lorem Ipsum</p>
                </div>
            </div>
        </div>
    </div>
</section>