@{
    ViewBag.Title = "Nosotros";
}

<!-- Header -->
<header class="page-header">
    <div class="header-content text-center">
        <h2 class="header-heading">Nosotros</h2>
        <h3 class="header-subheading">Lorem ipsum dolor sit amet consectetur.</h3>
    </div>
</header>

<!-- About -->
<section class="container" id="about">
    <div class="row">
        <div class="col-lg-12">
            <ul class="timeline">
                <li>
                    <div class="timeline-image">
                        <img class="rounded-circle img-fluid" src="~/Content/img/about/about-01.png" alt="">
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4>¿Quienes somos?</h4>
                        </div>
                        <div class="timeline-body">
                            <p class="text-muted">
                                El Progreso es una empresa costarricense, nacida en el año 2010 en Desamparados de San José, la cual desde sus inicios se ha ganado el corazón de los costarricenses brindando productos de crédito y ahorro, a precios justos y accesibles para el público en general.
                            </p>
                        </div>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-image">
                        <img class="rounded-circle img-fluid" src="~/Content/img/about/about-02.png" alt="">
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4>Nuestra Misión</h4>
                        </div>
                        <div class="timeline-body">
                            <p class="text-muted">
                                Ser creativos y eficaces en la gestión de inversiones y en la generación de oportunidades de inversión y soluciones financieras, fundamentados en las necesidades de las empresas y en nuestra experiencia y conocimiento, creando valor a nuestros accionistas y nuestra comunidad.
                            </p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="timeline-image">
                        <img class="rounded-circle img-fluid" src="~/Content/img/about/about-03.png" alt="">
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4>Nuestra Visión</h4>
                        </div>
                        <div class="timeline-body">
                            <p class="text-muted">
                                Ser reconocidos como la entidad financiera líder en la creación, desarrollo, administración y distribución de inversiones, comprometidos con el crecimiento económico del país.
                            </p>
                        </div>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-image">
                        <img class="rounded-circle img-fluid" src="~/Content/img/about/about-04.png" alt="">
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4>Nuestros Valores</h4>
                        </div>
                        <div class="timeline-body">
                            <p class="text-muted">
                                <ul class="text-muted">
                                    <li>Integridad</li>
                                    <li>Creatividad</li>
                                    <li>Enseñar con el ejemplo</li>
                                    <li>Escuchar para entender</li>
                                    <li>Trabajar en equipo</li>
                                    <li>Desarrollar a otros</li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="timeline-image">
                        <img class="rounded-circle img-fluid" src="~/Content/img/about/about-05.png" alt="">
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4>Responsabilidad Social</h4>
                        </div>
                        <div class="timeline-body">
                            <p class="text-muted">
                                En El Progreso contamos con políticas y prácticas fundamentadas en principios y valores, que contribuyen al logro de los objetivos de la compañía y al fortalecimiento de relaciones de mutuo beneficio con nuestros grupos de interés, controlando y midiendo los impactos social, económico y ambiental.
                            </p>
                        </div>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-image">
                        <h4 class="text-uppercase">
                            ¡Lorem <br />
                            Ipsum <br />
                            Dolor!
                        </h4>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
